<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {%- seo -%}
  <!-- Styles -->
  <link rel="stylesheet" href="/assets/css/style.css?{{site.time | date: '%s%N'}}">
  {%- feed_meta -%}
  <!-- Icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-touch-icon.png?{{site.time | date: '%s%N'}}">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png?{{site.time | date: '%s%N'}}">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png?{{site.time | date: '%s%N'}}">
  <link rel="mask-icon" href="/assets/icon/safari-pinned-tab.svg?{{site.time | date: '%s%N'}}" color="#930000">
  <link rel="shortcut icon" href="/assets/icon/favicon.ico?{{site.time | date: '%s%N'}}">

  <!-- DNS Prefetching -->
  <link rel="dns-prefetch" href="https://kit.fontawesome.com"/>
  <link rel="dns-prefetch" href="https://kit-pro.fontawesome.com"/>
  <link rel="dns-prefetch" href="https://code.jquery.com"/>
  <link rel="dns-prefetch" href="https://stackpath.bootstrapcdn.com"/>
  <link rel="dns-prefetch" href="https://www.google-analytics.com"/>
  
  <meta name="apple-mobile-web-app-title" content="AndrewEnsley.com">
  <meta name="application-name" content="AndrewEnsley.com">
  <meta name="msapplication-TileColor" content="#930000">
  <meta name="msapplication-config" content="/assets/icon/browserconfig.xml?{{site.time | date: '%s%N'}}">
  <meta name="theme-color" content="#930000">
  <script>const BUILD_NUMBER = "{{site.time | date: '%s%N'}}"</script>
  <script src="https://kit.fontawesome.com/88d34a2861.js"></script>
</head>